body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}

/* HEADER */

/* SECCIONES */

/* TITULOS */

/* LISTA DE TECNOLOGÍAS */

/* LINKS */

/* FOOTER */

/*NO OLVIDAR: hacer responsive la página*/